@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

.share__icon {
  width: 32px;
  height: 32px;
  fill: #fff;
  display: inline-block;
  vertical-align: top;
  margin-right: 3px;
}

.share__icon:last-of-type {
  margin-right: 0px;
}

.share-button {
  cursor: pointer;
  display: inline-block;
  height: 42px;
  position: absolute;
  top: 5%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  left: 10%;
  -webkit-perspective: 200px;
  -moz-perspective: 200px;
  perspective: 200px;
}

.share-button__back {
  background-color: #368b8b;
  padding: 5px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1) inset;
}

.share-button__front {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center top;
  -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.share-button__text {
  margin: 0;
  line-height: 42px;
  font-size: 16px;
  text-align: center;
  color: #b6b6b6;
}

.share__link {
  position: relative;
  top: 40px;
  display: inline-block;
  opacity: 0;
  -webkit-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.share-button:hover .share-button__front {
  transform: rotateX(90deg);
}

.share-button:hover .share__link {
  top: 0;
  opacity: 1;
}

.share-button:hover .share__link:nth-of-type(1) {
  transition-delay: 0.1s;
}

.share-button:hover .share__link:nth-of-type(2) {
  transition-delay: 0.2s;
}

.share-button:hover .share__link:nth-of-type(3) {
  transition-delay: 0.3s;
}

.share-button:hover .share__link:nth-of-type(4) {
  transition-delay: 0.4s;
}

a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  text-decoration: none;
}

.containers {
  width: 520px;
  margin: 30px 0 0 30px;
  position: absolute;
  top: 0;
  left: 0;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(#252525, #0c0c0c);
}

.radar {
  position: relative;
  width: 60vmin;
  height: 60vmin;
  background: repeating-radial-gradient(transparent, transparent 4.5%, rgba(80, 255, 0, 0.35) 5%, transparent 5.5%) content-box, linear-gradient(transparent 49.7%, rgba(80, 255, 0, 0.2) 49.9%, rgba(80, 255, 0, 0.2) 50.1%, transparent 50.3%) content-box, linear-gradient(to right, transparent 49.7%, rgba(80, 255, 0, 0.2) 49.9%, rgba(80, 255, 0, 0.2) 50.1%, transparent 50.3%) content-box, radial-gradient(#002500, #000500) content-box, linear-gradient(to bottom right, #ccc, #666) border-box;
  border: 2.5vmin solid transparent;
  border-radius: 50%;
  box-sizing: border-box;
  overflow: hidden;
  filter: drop-shadow(1vmin 1vmin 1vmin rgba(0, 0, 0, 0.4));
}

.radar::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: conic-gradient(transparent 90%, rgba(80, 255, 0, 0.35));
  border-radius: 50%;
  box-shadow: inset 0 0 2vmin rgba(0, 0, 0, 0.9);
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.radar__dot {
  position: absolute;
  width: 3%;
  height: 3%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation: blink 2s ease-out infinite;
  animation: blink 2s ease-out infinite;
}

/*.radar__dot:first-of-type {
  top: 24%;
  left: 76%;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.radar__dot:nth-of-type(2) {
  top: 80%;
  left: 20%;
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}
.radar__dot:last-of-type {
  top: 36%;
  left: 36%;
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
}

@-webkit-keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes blink {
  2%, 20% {
    background-color: rgba(80, 255, 0, 0.85);
    box-shadow: 0 0 1vmin rgba(80, 255, 0, 0.6);
  }
  90% {
    background-color: transparent;
  }
}
@keyframes blink {
  2%, 20% {
    background-color: rgba(80, 255, 0, 0.85);
    box-shadow: 0 0 1vmin rgba(80, 255, 0, 0.6);
  }
  90% {
    background-color: transparent;
  }
}*/
